* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
  height: 100vh;
}

.sidebar {
  grid-area: 1 / 1 / -1/ 2;
  background-color: lightskyblue;
  color: white;
  padding: 2rem;
}

.sidebar img {
  filter: invert(100%);
}

.sidebar div {
  display: grid;
  grid-template-columns: 1fr 3fr;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.sidebar > div > img {
  justify-self: end;
}

.header {
  grid-area: 1 / 2/ 2/ 3;
  background-color: white;
  z-index: 1;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.4);
  padding: 1rem;
  gap: 1rem;
}

h1,
h2,
h3 {
  margin: 1rem 0 0.5rem;
}

ul {
  margin-top: 5rem;
}

li {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

li p {
  font-size: 1.5rem;
}

li img {
  justify-self: end;
}

img {
  width: 2.5vw;
}

.header {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

input {
  background-color: #dddddd;
  border: none;
  border-radius: 50px;
  padding: 0.75rem 7rem;
}

div #greeting {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  align-items: flex-start;
  gap: 0;
}

#greeting :first-child {
  font-size: 1rem;
}
#greeting :last-child {
  font-size: 2rem;
}

.header :first-child {
  display: flex;
  align-items: center;
}
.header :last-child {
  display: flex;
  align-items: center;
}

.header :first-child > div {
  gap: 1rem;
  margin: 0 auto;
  margin-left: 0.5rem;
}
.header :last-child > div {
  gap: 1rem;
  margin: 0 auto;
  margin-left: 0.5rem;
}

button {
  color: white;
  background-color: lightskyblue;
  border-radius: 30px;
  border: none;
  font-size: 1.25rem;
  padding: 0.5rem 2rem;
}

.main {
  display: grid;
  grid-template-columns: 3fr 1fr;
  background-color: rgb(236, 236, 236);
  padding: 1rem 4rem 0 1rem;
  gap: 2rem;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 2rem;
}

.card {
  border-left: 10px solid rgb(240, 202, 97);
  border-radius: 10px;
  padding: 1.5rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}

.card > div {
  align-self: flex-end;
  padding: 1rem;
}

.card img {
  width: 1.5vw;
  margin: 0.5rem;
}

.circle {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-color: lightslategray;
}

.announcements {
  display: grid;
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}
hr {
  border: 0;
  height: 1px;
  background: #dddddd;
  margin: 1rem;
}

.announcements p {
  color: #a0a0a0;
}

.trending {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: repeat(4, 1fr);
  background-color: white;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
  gap: 0.5rem;
  column-gap: 1.5rem;
  align-items: center;
}

.trending .circle {
  justify-self: end;
  align-self: center;
}

.trending > div p:last-of-type {
  color: #a0a0a0;

  margin-top: 0.25rem;
}
