* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
}

.sidebar {
  grid-area: 1 / 1 / -1/ 2;
}

.header {
  grid-area: 1 / 2/ 2/ 3;
}

li {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

li p {
  font-size: 2.5rem;
}

img {
  width: 4.5vw;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
}
